{% extends 'base.html' %}

{% block page_content %}
    <section id="about">
        <div class="container">
            <div class="about-content">
                <h1>About Us</h1>
                <p>
                    Welcome to our dental clinic! We are dedicated to providing high-quality dental care and
                    personalized services to our patients. With a our modern facilities, we strive to ensure that every
                    patient receives the best possible treatment and achieves a healthy and beautiful smile.
                </p>
                <p>
                    Our mission is to deliver excellent dental services in a comfortable and friendly environment. We
                    focus on preventive care, early diagnosis, and customized treatment plans to meet each patient's
                    unique needs. Our commitment to patient satisfaction and dental excellence has made us a trusted
                    dental practice in the community.
                </p>
                <p>
                    We utilize the latest dental technology and follow industry best practices to deliver exceptional
                    results for our patients.
                </p>
                <p>
                    Our dedicated team of dentists and staff are committed to creating a positive and stress-free dental
                    experience. We prioritize patient comfort and ensure that all procedures are performed with the
                    utmost care and precision.
                </p>
                <p>
                    If you are dentist we look forward to get you on board. If you have any questions, please don't
                    hesitate to <a href="{% url 'contact-page' %}" id="contact-link">contact us</a>. We are here to help
                    you achieve a professional career with many clients!
                </p>
                <h4><a href="{% url 'register-user' %}">Join us now!</a></h4>
            </div>
        </div>
    </section>
{% endblock %}