{% extends 'base.html' %}
{% load static %}
{% block page_content %}

    {% if not object_list %}
        <p class="no-content">There are no registered patients</p>
    {% else %}

        <form action="{% url 'patients-catalogue' %}?page={{ page_obj.number }}" class="patients-search">
            <input name="search" value="{{ search }}" placeholder="SEARCH BY LAST NAME">
            <button>Search</button>
        </form>

        <section id="patients-catalogue">
            {% for patient in object_list %}
                <div class="patient-card">
                    <div class="image-wrap">
                        <img src="{% static 'images/patient-default.png' %}" alt="Patient picture">
                    </div>
                    <h3>{{ patient.first_name }}</h3>
                    <h3>{{ patient.last_name }}</h3>
                    <h1>{{ patient.phone_number }}</h1>
                    <h1>{{ patient.email }}</h1>
                    <div class="details-buttons">
                        <a href="{% url 'edit-patient' patient.pk %}" class="edit-button">Edit</a>
                    </div>
                </div>
            {% endfor %}
        </section>

        <section class="pagination">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}&search={{ search }}">&lt;</a>
            {% else %}
                <a>&lt;</a>
            {% endif %}

            <span class="current-page">{{ page_obj.number }} / {{ paginator.num_pages }}</span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}&search={{ search }}">&gt;</a>
            {% else %}
                <a>&gt;</a>
            {% endif %}
        </section>

    {% endif %}

{% endblock %}
