{% extends 'base.html' %}
{% load static %}
{% block page_content %}

    {% if not object_list %}
        <p class="no-content">You don't have scheduled patients</p>
    {% else %}
        {% for appointment in object_list %}

            <section id="catalogue">
                    <div class="appointment-card">
                        <div class="image-wrap">
                            <img src="{% static 'images/patient-default.png' %}" alt="Patient picture">
                        </div>
                        <h3>{{ appointment.patient.last_name }}</h3>
                        <h1>{{ appointment.date }}</h1>
                        <h1>{{ appointment.time }}</h1>
                        <h1>Treatments: </h1>
                        {% for t in appointment.patient.treatment.all %}
                                <h1>{{ t.description }}</h1>
                        {% endfor %}
                        <div class="details-buttons">
                            <a href="{% url 'appointment-details' appointment.pk %}" class="details-btn">Details</a>
                        </div>
                        <div class="details-buttons">
                            <a href="{% url 'patient-treatment' appointment.patient.pk %}" class="details-btn add">Add Treatment</a>
                        </div>
                        <div class="details-buttons">
                            <a href="{% url 'invoicing' appointment.pk appointment.patient.pk %}" class="details-btn finish">Finish & Pay</a>
                        </div>
                    </div>
            </section>

        {% endfor %}
    {% endif %}

{% endblock %}
