@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Croissant+One&family=Great+Vibes&family=Lato&family=Montserrat:wght@300;400&family=PT+Serif:ital@1&family=Tangerine:wght@700&display=swap');


#appointment-details,
#dentist-details {
    position: relative;
    width: 60%;
    margin: 30px auto;
    border-radius: 10px;
    transition: all 0.4s;

}

#appointment-details > h1,
#dentist-details > h1 {
    letter-spacing: 10px;
    font-family: 'Croissant One', cursive;
    color: #E2E8EA;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    text-transform: uppercase;
    text-align: center;
    color: #79A1489C;
}

.info-section {
    position: relative;
    width: 100%;
    height: 100%;
    background-blend-mode: multiply;
    z-index: 2;
    border-radius: 10px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
}

.appointment-header,
.dentist-header {
    position: relative;
    padding: 25px;
    height: 40%;
}

.appointment-header > h1,
.dentist-header > h1 {
    color: #7A5820;
    margin-top: 5px;
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.appointment-header > h4,
.dentist-header > h4 {
    color: #E2E8EA;
    font-size: 23px;
    font-weight: 400;
}

.info-section > .description {
    margin-top: 30px;
    padding: 60px;
    height: 50%;
}

.description {
    font-size: 1.4rem;
    color: #E2E8EA;
}

.profile-img, .patient-img {
    min-width: 25%;
    position: relative;
    float: left;
    margin-left: 15px;
    margin-right: 20px;
    height: 220px;
    border-radius: 50%;
    box-shadow: 0 0 25px white;
}


.buttons {
    height: 10%;
    text-align: right;
    padding: 40px 15px;
    transition: 0.5s;
    transition-property: box-shadow;

}

.edit-button, .delete-button {
    height: 15%;
    padding: 14px;
    margin-top: auto;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    box-shadow: 0 0 25px white;
    border-radius: 20px;
}

.edit-button {
    background: #79A148;
}

.delete-button {
    background: red;
}

.edit-button:hover,
.delete-button:hover {
    box-shadow: 0 0 100px white,
                0 0 50px white,
                0 0 25px white,
                0 0 5px white;
}

@media only screen and (max-width: 1000px) {
    #appointment-details,
    #dentist-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        min-width: 360px;
    }

    .dentist-header, .appointment-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header {
        display: flex;
        flex-direction: column;
    }

    nav {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
    }
}

@media only screen and (max-width: 500px) {
    .buttons {
        display: flex;
        flex-direction: column;
    }
}